


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

body{
  background-image: url('https://wallpaperaccess.com/full/2125.jpg') ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ui.container {
  display: flex;
  min-height: 80%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
  max-width: 100% !important;
}